.btn-group
  = link_to project_path(@project), class: :'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back to #{@project.name}
  = link_to edit_project_setting_path(@project, @setting), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-pencil
    Edit

%h1.m-t-2  Show setting

.container
  %dl.dl-horizontal.m-t-2
    %dt.col-sm-1   Name:
    %dd.col-sm-11= @setting.name
