.btn-group
  = link_to settings_path, class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_setting_path(@setting), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-pencil
    Edit

%h1.m-t-2  Show setting


.container
  %dl.dl-horizontal.m-t-2
    %dt.col-sm-1   Name:
    %dd.col-sm-11= @setting.name

    %dt.col-sm-1   Value:
    %dd.col-sm-11= @setting.value
